@charset "UTF-8";

/*Estilo para impressoras*/

* {
    margin: 8px;
    padding: 8px;
}

menu {
    display: none;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

article {
    width: 100%;
}

article::after {
    content: "Esse artigo foi impresso através do site do Pedro Augusto";
}